.App {
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: darkgray;
  color: white;
  margin-bottom: 10%;
}



.navLinks{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}



.toppings{
 
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-bottom: 5%;
}

#submitBtn{
  margin-top: 5%;
}